<nb-card class="height">
    <nb-card-body class="d-flex justify-content-center align-items-center w-100">
        <div class="col-xxl-6">
          <h2>Reset Password</h2>
          <h5 class="mb-5 text-muted">Let Us Help You</h5>
          <div class="text-center">
              <p class="text-muted">Enter your registered mobile number</p>
          </div>
          <form [formGroup]="forgotForm" class="my-3">
            <div class="form-group mt-2 mb-5">
              <label for="input-email" class="mb-2">Mobile Number</label>
              <input type="text" nbInput class="w-100" formControlName="mobileNumber" fullWidth  status="basic" placeholder="Email">
              <div *ngIf="submitted && f['email'].errors && f['email'].errors['required']"
                class="error-form text-danger fs-15">Email is required
                Email is required
              </div>
            </div>
            <div class="text-center mb-2">
                <button nbButton class="w-100" status="success">Reset My Password</button>
              </div>
          <div class="text-center">
              <a routerLink="../login" class="text-decoration-none">Login?</a>
          </div>
           
          </form>
        </div>
    </nb-card-body>
  </nb-card>