@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,900&display=swap");

$nb-themes: nb-register-theme(
    (
        font-family-primary: unquote("Roboto, sans-serif"),
        font-family-secondary: font-family-primary,
        color-primary-100: #fdf3ce,
        color-primary-200: #fce49d,
        color-primary-300: #f6ce6b,
        color-primary-400: #eeb746,
        color-primary-500: #e4960e,
        color-primary-600: #c4790a,
        color-primary-700: #a45f07,
        color-primary-800: #844704,
        color-primary-900: #6d3602,
        color-primary-transparent-100: rgba(228, 150, 14, 0.08),
        color-primary-transparent-200: rgba(228, 150, 14, 0.16),
        color-primary-transparent-300: rgba(228, 150, 14, 0.24),
        color-primary-transparent-400: rgba(228, 150, 14, 0.32),
        color-primary-transparent-500: rgba(228, 150, 14, 0.4),
        color-primary-transparent-600: rgba(228, 150, 14, 0.48),
        color-success-100: #d6fcd3,
        color-success-200: #a8faac,
        color-success-300: #7bf18b,
        color-success-400: #58e379,
        color-success-500: #27d160,
        color-success-600: #1cb35e,
        color-success-700: #139659,
        color-success-800: #0c7951,
        color-success-900: #07644b,
        color-success-transparent-100: rgba(39, 209, 96, 0.08),
        color-success-transparent-200: rgba(39, 209, 96, 0.16),
        color-success-transparent-300: rgba(39, 209, 96, 0.24),
        color-success-transparent-400: rgba(39, 209, 96, 0.32),
        color-success-transparent-500: rgba(39, 209, 96, 0.4),
        color-success-transparent-600: rgba(39, 209, 96, 0.48),
        color-info-100: #cbfefc,
        color-info-200: #98fafe,
        color-info-300: #65ebfc,
        color-info-400: #3ed8fa,
        color-info-500: #00b9f7,
        color-info-600: #0090d4,
        color-info-700: #006cb1,
        color-info-800: #004c8f,
        color-info-900: #003776,
        color-info-transparent-100: rgba(0, 185, 247, 0.08),
        color-info-transparent-200: rgba(0, 185, 247, 0.16),
        color-info-transparent-300: rgba(0, 185, 247, 0.24),
        color-info-transparent-400: rgba(0, 185, 247, 0.32),
        color-info-transparent-500: rgba(0, 185, 247, 0.4),
        color-info-transparent-600: rgba(0, 185, 247, 0.48),
        color-warning-100: #fefdcf,
        color-warning-200: #fefb9f,
        color-warning-300: #fdf76f,
        color-warning-400: #fbf34b,
        color-warning-500: #f9ee11,
        color-warning-600: #d6cb0c,
        color-warning-700: #b3a908,
        color-warning-800: #908705,
        color-warning-900: #776f03,
        color-warning-transparent-100: rgba(249, 238, 17, 0.08),
        color-warning-transparent-200: rgba(249, 238, 17, 0.16),
        color-warning-transparent-300: rgba(249, 238, 17, 0.24),
        color-warning-transparent-400: rgba(249, 238, 17, 0.32),
        color-warning-transparent-500: rgba(249, 238, 17, 0.4),
        color-warning-transparent-600: rgba(249, 238, 17, 0.48),
        color-danger-100: #ffe5d2,
        color-danger-200: #ffc5a6,
        color-danger-300: #ff9e79,
        color-danger-400: #ff7958,
        color-danger-500: #ff3b21,
        color-danger-600: #db1f18,
        color-danger-700: #b71017,
        color-danger-800: #930a1b,
        color-danger-900: #7a061d,
        color-danger-transparent-100: rgba(255, 59, 33, 0.08),
        color-danger-transparent-200: rgba(255, 59, 33, 0.16),
        color-danger-transparent-300: rgba(255, 59, 33, 0.24),
        color-danger-transparent-400: rgba(255, 59, 33, 0.32),
        color-danger-transparent-500: rgba(255, 59, 33, 0.4),
        color-danger-transparent-600: rgba(255, 59, 33, 0.48),
        card-border-radius: 0.5rem,
        card-shadow: 0 0.25rem 0.5rem 0 #e4e9f2,
        input-medium-text-font-weight: 100,
        calendar-width: 100%,
        calendar-day-cell-height: 3.8125rem,
        calendar-day-cell-width: 3.8125rem,
        user-rectangle-border-radius: 0px,
        user-large-height: 7.25rem,
        user-large-width: 7.25rem,
        tabset-tab-text-transform: capitalize,
        tabset-tab-text-font-weight: 400,
        text-alternate-color: #223e5a,
        tabset-tab-active-underline-color: text-alternate-color,
        tabset-tab-active-text-color: text-alternate-color,
        tabset-tab-text-color: #6c757d,
        tabset-tab-text-font-size: 1.2rem,
        tabset-tab-hover-text-color: text-basic-color,
        tabset-tab-hover-underline-color: text-basic-color,
        text-heading-6-font-weight: 400,
        menu-item-active-background-color: color-primary-500,
        menu-item-hover-background-color: color-primary-500,
        menu-item-hover-text-color: white,
        input-basic-background-color: white,
        menu-item-active-text-color: white,
        button-outline-text-transform: capitalize,
        button-filled-text-transform: capitalize,
        tabset-content-background-color: white,
        input-basic-hover-background-color: white,
    ),
    core-light-theme,
    default
);

$nb-themes: nb-register-theme(
    (
        color-primary-100: #fdf3ce,
        color-primary-200: #fce49d,
        color-primary-300: #f6ce6b,
        color-primary-400: #eeb746,
        color-primary-500: #e4960e,
        color-primary-600: #c4790a,
        color-primary-700: #a45f07,
        color-primary-800: #844704,
        color-primary-900: #6d3602,
        color-primary-transparent-100: rgba(228, 150, 14, 0.08),
        color-primary-transparent-200: rgba(228, 150, 14, 0.16),
        color-primary-transparent-300: rgba(228, 150, 14, 0.24),
        color-primary-transparent-400: rgba(228, 150, 14, 0.32),
        color-primary-transparent-500: rgba(228, 150, 14, 0.4),
        color-primary-transparent-600: rgba(228, 150, 14, 0.48),
        color-success-100: #ebfcd9,
        color-success-200: #d4fab4,
        color-success-300: #b3f28c,
        color-success-400: #92e66d,
        color-success-500: #63d640,
        color-success-600: #44b82e,
        color-success-700: #2b9a20,
        color-success-800: #167c14,
        color-success-900: #0c6611,
        color-success-transparent-100: rgba(99, 214, 64, 0.08),
        color-success-transparent-200: rgba(99, 214, 64, 0.16),
        color-success-transparent-300: rgba(99, 214, 64, 0.24),
        color-success-transparent-400: rgba(99, 214, 64, 0.32),
        color-success-transparent-500: rgba(99, 214, 64, 0.4),
        color-success-transparent-600: rgba(99, 214, 64, 0.48),
        color-info-100: #ccfefb,
        color-info-200: #9bfbfd,
        color-info-300: #68edfb,
        color-info-400: #43daf7,
        color-info-500: #07bbf2,
        color-info-600: #0592d0,
        color-info-700: #036dae,
        color-info-800: #024e8c,
        color-info-900: #013874,
        color-info-transparent-100: rgba(7, 187, 242, 0.08),
        color-info-transparent-200: rgba(7, 187, 242, 0.16),
        color-info-transparent-300: rgba(7, 187, 242, 0.24),
        color-info-transparent-400: rgba(7, 187, 242, 0.32),
        color-info-transparent-500: rgba(7, 187, 242, 0.4),
        color-info-transparent-600: rgba(7, 187, 242, 0.48),
        color-warning-100: #fffccd,
        color-warning-200: #fff89b,
        color-warning-300: #fff36a,
        color-warning-400: #ffee45,
        color-warning-500: #ffe607,
        color-warning-600: #dbc305,
        color-warning-700: #b7a103,
        color-warning-800: #938002,
        color-warning-900: #7a6901,
        color-warning-transparent-100: rgba(255, 230, 7, 0.08),
        color-warning-transparent-200: rgba(255, 230, 7, 0.16),
        color-warning-transparent-300: rgba(255, 230, 7, 0.24),
        color-warning-transparent-400: rgba(255, 230, 7, 0.32),
        color-warning-transparent-500: rgba(255, 230, 7, 0.4),
        color-warning-transparent-600: rgba(255, 230, 7, 0.48),
        color-danger-100: #ffe1d6,
        color-danger-200: #ffbcae,
        color-danger-300: #ff8f85,
        color-danger-400: #ff6768,
        color-danger-500: #ff3549,
        color-danger-600: #db2649,
        color-danger-700: #b71a46,
        color-danger-800: #931041,
        color-danger-900: #7a0a3e,
        color-danger-transparent-100: rgba(255, 53, 73, 0.08),
        color-danger-transparent-200: rgba(255, 53, 73, 0.16),
        color-danger-transparent-300: rgba(255, 53, 73, 0.24),
        color-danger-transparent-400: rgba(255, 53, 73, 0.32),
        color-danger-transparent-500: rgba(255, 53, 73, 0.4),
        color-danger-transparent-600: rgba(255, 53, 73, 0.48),
    ),
    core-dark-theme,
    dark
);

