<!-- <nb-layout>
    <nb-layout-column class="pe-0 border-end-0">
      <nb-card class="m-0 h-100">
        <nb-card-body class="p-0">
          <div class="row card-height">
            <div class="col-12 p-0">
              <img src="../../../../assets/images/drApp.png" style="object-fit: cover;" class="height">
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
    <nb-layout-column class="ps-0 border-start-0">
      <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout> -->

<!-- <div class="auth-container">
    <div class="row auth-main">
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <div class="left-img" style="background-image: url(assets/images/drApp.png);">
            </div>
        </div>
        <div class="col-sm-6 auth-form-section">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<nb-layout>
    <nb-layout-column class="pe-0 pt-0">
        <div class="left-img" style="background-image: url({{backgroundImage}});"></div>
    </nb-layout-column>
    <nb-layout-column class="ps-0 pt-0">
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>
<!-- <div class="col-sm-6 px-0 d-none d-sm-block">
</div>
<div class="col-sm-6 auth-form-section">
</div> -->