
<nb-card class="height">
    <nb-card-body>
        <div class="row">
            <div class="col-xxl-6 mx-auto">1</div>
        </div>
    </nb-card-body>
</nb-card>

<!-- <div class="col-xl- 8 col-lg-8 col-12 my-auto mx-auto">
    <div class="d-flex align-items-center justify-content-center mb-3">
        <span class="ps-2">
            <img src="" alt="" height="75">
        </span>
    </div>
    <h1 id="title" class="title text-center">Welcome to Cliniva</h1>
    <h3 id="title" class=""></h3>
    <form aria-labelledby="title">
        <div class="form-control-group m-0">
            <label class="label m-0" for="input-email">Email or userName</label>
            <input id="input-email" nbInput fullWidth>
            <ng-container>
                <p class="valid-feedback">
                    user name valid
                </p>
            </ng-container>
        </div>
    
        <div class="form-control-group mb-1">
        <label class="label m-0" for="input-password"></label>
            <input nbInput fullWidth>
            <ng-container>
                <p class="error-message">
                </p>
            </ng-container>
        </div>
    
        <div class="form-control-group accept-group mt-4 mb-4">
            <a class="forgot-password m-0"></a>
        </div>
    
        <button nbButton fullWidth status="success">
            login
        </button>
    </form>
    <p class="copyright text-center caption">
    </p>
</div> -->