<nb-card class="h-100 w-100">
    <nb-card-body>
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="auth-wrapper">
                <h2 class="text-start fw-bolder mb-3 fs-3">Welcome to Doctor App</h2>
                <p class="text-start fs-5 auth-signup-text text-muted">Need an account?
                    <a class="sign-up-link" routerLink="../signup">Sign Up</a>
                </p>
                <h2 class="text-start fw-bolder mb-3 fs-3">Sign in</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <label for="input-email" class="mb-1">Email address</label>
                        <input id="input-email" type="email" class="form-control" fieldSize="medium" nbInput fullWidth formControlName="email" placeholder="Enter email">
                        <!-- <small class="form-text text-muted" 
                            *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
                            Please enter email address.!
                        </small>
                    
                        <small class="form-text text-muted"
                        *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
                            Email address not well formed.!
                        </small> -->
                    </div>
                    <div class="form-group mb-3">
                        <label for="input-password" class="mb-1">Password</label>
                        <div class="input-group mb-3">
                            <input id="input-password" [type]="getInputType()" fieldSize="medium" class="form-control" nbInput fullWidth formControlName="password" placeholder="Password">
                            <button  nbButton size="medium"  (click)="toggleShowPassword()">
                                <nb-icon status="primary" [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                         pack="eva"
                                         [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                </nb-icon>
                            </button>
                        </div>
                    </div>
                    <div class="form-group mb-3 d-flex justify-content-between">
                        <nb-checkbox status="basic">Remember me</nb-checkbox>
                        <a routerLink="../forgot-password" class="text-decoration-none">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary text-capitalize" nbButton fullWidth status="success">Login</button>
                    <!-- [disabled]="!loginForm.valid" -->
              </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>